.game .primary-button,
.game .secondary-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  gap: 10px;

  color: #5d279e;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;

  cursor: pointer;
  box-sizing: border-box;
}

.game .primary-button:hover {
  background: #ff49b8;
}

.game .primary-button:active {
  color: #fff;
  background: #ff49b8;
}

.game .primary-button:disabled {
  color: #ddd;
  background: #eee;
  cursor: default;
}

.game .secondary-button {
  color: #fff;
  background: #5d279e;
}

.game .secondary-button:hover {
  color: #fff;
  background: #8200cc;
}
.game .secondary-button:active {
  color: #fff;
  background: #ff49b8;
}

.game .secondary-button:disabled {
  color: #ddd;
  background: #eee;
  cursor: default;
}

.game .primary-button.small,
.game .secondary-button.small {
  padding: 18px 25px !important;
}

.game .primary-button.inverted {
  background: #ff49b8;
  color: #fff !important;
}

.game .button-large {
  padding: 16px 28px;
}

.game .mobile .button-large {
  padding: 16px 20px;
}

.game .button-mobile-adaptive {
}

.game .mobile .button-mobile-adaptive {
  width: 100%;
}

.game .button-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.game .mobile .button-group {
  width: auto;
  flex-direction: column;
  flex-direction: column-reverse;
  gap: 14px;
}

.game .g-checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 16px;

  cursor: pointer;
}
