.can {
  position: absolute;
  left: 408px;
  top: 96px;
  width: 144px;
  height: 374px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  cursor: pointer;
}

.mobile .can {
  left: 108px;
  top: 154px;
  width: 102px;
  height: 265px;
}

.can0 {
  background-image: url(../images/game3/cans/can1.png);
}
.can1 {
  background-image: url(../images/game3/cans/can2.png);
}
.can2 {
  background-image: url(../images/game3/cans/can3.png);
}
.can3 {
  background-image: url(../images/game3/cans/can4.png);
}
.can4 {
  background-image: url(../images/game3/cans/can5.png);
}
.can5 {
  background-image: url(../images/game3/cans/can6.png);
}
.can6 {
  background-image: url(../images/game3/cans/can7.png);
}
.can7 {
  background-image: url(../images/game3/cans/can8.png);
}

.tapCounter {
  position: absolute;
  top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  pointer-events: none;
  opacity: 0.2;
}

.mobile .tapCounter {
  top: 97px;
}

.tapCounterIndicator {
  width: 49px;
  height: 49px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/game3/tap-indicator.svg);
}

.mobile .tapCounterIndicator {
  width: 32px;
  height: 32px;
}

.stripe {
  position: absolute;
  top: 42px;
  width: 480px;
  height: 540px;
  pointer-events: none;
  background: none !important;
}

.stripeBody {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mobile .stripe {
  top: 72px;
  width: 200px;
  height: 420px;
}

.lStripe0,
.lStripe1,
.lStripe2,
.lStripe3,
.lStripe4,
.lStripe5,
.lStripe6,
.lStripe7,
.lStripe8 {
  right: 50%;
  transform-origin: 100% 50%;
}

.rStripe0,
.rStripe1,
.rStripe2,
.rStripe3,
.rStripe4,
.rStripe5,
.rStripe6,
.rStripe7,
.rStripe8 {
  left: 50%;
  transform-origin: 0% 50%;
}

.lStripe0 {
  background-image: url(../images/game3/patterns/left-stripe1.png);
}
.lStripe1 {
  background-image: url(../images/game3/patterns/left-stripe2.png);
}
.lStripe2 {
  background-image: url(../images/game3/patterns/left-stripe3.png);
}
.lStripe3 {
  background-image: url(../images/game3/patterns/left-stripe4.png);
}
.lStripe4 {
  background-image: url(../images/game3/patterns/left-stripe5.png);
}
.lStripe5 {
  background-image: url(../images/game3/patterns/left-stripe6.png);
}
.lStripe6 {
  background-image: url(../images/game3/patterns/left-pattern1.png);
  z-index: 1;
}
.lStripe7 {
  background-image: url(../images/game3/patterns/left-pattern2.png);
  z-index: 1;
}
.lStripe8 {
  background-image: url(../images/game3/patterns/left-pattern3.png);
  z-index: 1;
}

.rStripe0 {
  background-image: url(../images/game3/patterns/right-stripe1.png);
}
.rStripe1 {
  background-image: url(../images/game3/patterns/right-stripe2.png);
}
.rStripe2 {
  background-image: url(../images/game3/patterns/right-stripe3.png);
}
.rStripe3 {
  background-image: url(../images/game3/patterns/right-stripe4.png);
}
.rStripe4 {
  background-image: url(../images/game3/patterns/right-stripe5.png);
}
.rStripe5 {
  background-image: url(../images/game3/patterns/right-stripe6.png);
}
.rStripe6 {
  background-image: url(../images/game3/patterns/right-pattern1.png);
  z-index: 1;
}
.rStripe7 {
  background-image: url(../images/game3/patterns/right-pattern2.png);
  z-index: 1;
}
.rStripe8 {
  background-image: url(../images/game3/patterns/right-pattern3.png);
  z-index: 1;
}

.stripeAnimation {
  animation: stripeAnimation 4s ease-in-out infinite;
}
@keyframes stripeAnimation {
  0% {
    transform: skew(0deg);
  }
  50% {
    transform: skewY(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}

.stripe-appear {
  animation: stripe-appear 2000ms ease-out 500ms backwards;
}

@keyframes stripe-appear {
  0% {
    opacity: 0;
    transform: scaleX(2);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.stripeAnimation:nth-child(5n + 1) {
  animation-delay: 0ms;
}
.stripeAnimation:nth-child(5n + 2) {
  animation-delay: -300ms;
}
.stripeAnimation:nth-child(5n + 3) {
  animation-delay: -600ms;
}
.stripeAnimation:nth-child(5n + 4) {
  animation-delay: -1200ms;
}
.stripeAnimation:nth-child(5n + 4) {
  animation-delay: -1500ms;
}

.tap {
  position: absolute;
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

.tapAnimation {
  animation: tapAnimation 800ms ease-out;
  animation-fill-mode: forwards;
  will-change: contents;
  opacity: 0.6;
}
@keyframes tapAnimation {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.canImpulse {
  animation: canImpulse 300ms ease-out;
}

@keyframes canImpulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.97);
  }
  30% {
    transform: scale(1) rotate(2deg);
  }
  40% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1) rotate(-2deg);
  }
  70% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.note {
  position: absolute;
  width: 54px;
  height: 72px;
  pointer-events: none;
  transition: all 3s ease-in;
  z-index: 2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile .note {
  width: 27px;
  height: 36px;
}

.object {
  position: absolute;
  transition: all 10s ease-in;
  z-index: 2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  cursor: pointer;
}

.object::before {
  content: "";
  position: absolute;
  /* Центрируем круг относительно объекта */
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -2px); /* Центровка + сдвиг назад по Z */

  /* Размеры круга (подберите под размер вашей картинки) */
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Делаем элемент круглым */

  /* Радиальный градиент: от цвета в центре к прозрачности по краям */
  background: radial-gradient(circle, #ff57f4 0%, rgba(159, 255, 242, 0) 70%);
  pointer-events: none;
}

.object:hover::before {
  background: radial-gradient(circle, #9ffff2 0%, rgba(159, 255, 242, 0) 70%);
}

.object:active:before {
  background: radial-gradient(circle, #ffffff 0%, rgba(159, 255, 242, 0) 70%);
}

.object::after {
  content: "";
  position: absolute;
  /* Центрируем круг относительно объекта */
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -1px); /* Центровка + сдвиг назад по Z */

  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/game3/circles-bg.svg);
  opacity: 0;
  pointer-events: none;
  animation: objectCirclesAnimation 300ms ease-in-out infinite;
}

.object:hover::after {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@keyframes objectCirclesAnimation {
  0% {
    width: 150px;
    height: 150px;
  }
  50% {
    width: 130px;
    height: 130px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}
