.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.onest-regular {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.game h3,
.game h2,
.game h1 {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  font-weight: 100;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .mobile h1 {
  font-size: 16px;
  line-height: 16px;
}

.game h2 {
  font-size: 24px;
  line-height: 32px;
}

.game .mobile h2 {
  font-size: 16px;
  line-height: 16px;
}

.game .scores-info-plate h2 {
  line-height: 22px;
}

.game h3 {
  font-size: 16px;
  line-height: 20px;
}

.game .mobile h3 {
  font-size: 13px;
  line-height: 17px;
}

.game p {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.game .mobile p {
  font-size: 13px;
  line-height: 17px;
}

.game p.small {
  font-size: 14px;
  line-height: 18px;
}

.game .mobile p.small {
  font-size: 10px;
  line-height: 12px;
}

.game .mobile h3.small {
  font-size: 10px;
  line-height: 10px;
}

.game .mobile h2.small {
  font-size: 12px;
  line-height: 14px;
}

.game .button,
.game .button-large {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .mobile .button {
  font-size: 14px;
  line-height: 14px;
}

.game .button-large {
  font-size: 16px;
  line-height: 16px;
}

.game .mobile .button-large {
  font-size: 14px;
  line-height: 14px;
}

.game .display {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .bonus {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .score-value {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .mobile .score-value {
  font-size: 36px;
  line-height: 36px;
}

.game .score-title {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .mobile .score-title {
  font-size: 17px;
  line-height: 17px;
}

.game .scores-head {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.game .mobile .scores-head {
  font-size: 10px;
  line-height: 10px;
}

.game .scores-body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}

.game .mobile .scores-body {
  font-size: 10px;
  line-height: 10px;
}

.game .bold {
  font-weight: 800 !important;
}

.game .caps {
  text-transform: uppercase;
}

.tapCounterIndicatorValue {
  font-family: "Dela Gothic One";
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  line-height: 12px;
  letter-spacing: 0.3pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.mobile .tapCounterIndicatorValue {
  font-size: 20px;
  line-height: 20px;
}

.g-checkbox p {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
